body,
html,
ul,
li,
p,
span,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
label,
a {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
}
img {
  max-width: 100%;
}

.pc {
  display: block;
}
.mobile {
  display: none;
}

.block {
  display: block;
}

.d-flex {
  display: flex;
  align-items: center;
}
.flex-center {
  justify-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.text-white {
  color: #fff;
}
.margin-center {
  margin: 0 auto;
}
.fs0 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -1.4px;
}
.fs1 {
  font-size: 30px;
  font-weight: 400;
}
.fs1-1 {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
.fs3 {
  font-size: 16px;
  opacity: 0.7;
  font-weight: 400;
  letter-spacing: -0.4px;
}
.ft18 {
  font-size: 18px;
}
.ft24 {
  font-size: 24px;
}
.width1-1 {
  max-width: 1280px;
}

.header-div {
  height: 36px;
  line-height: 36px;
  background-color: #002e6d;
}
.header-div > ul {
  justify-content: flex-end;
}

.header-div > ul > li:nth-child(1) {
  padding-right: 20px;
}
.header-div > ul > li:nth-child(1)::after {
  content: '|';
  margin-left: 20px;
  color: #fff;
}
.header-div > ul > li:nth-child(2) {
  padding-right: 30px;
}
.header-div > ul > li:last-child {
  background-color: #004cb4;
  padding: 0 15px;
}

.img-share {
  width: 15px;
  height: 15px;
}

.header-nav {
  justify-content: space-between;
  padding: 13px 0;
}

.header-nav > ul {
  flex-wrap: wrap;
  padding: 0;
}

.header-nav > ul > li {
  margin-left: 30px;
}

.span-yellow {
  text-decoration: underline;
  color: #ffdd00;
  font-weight: bold;
}
.div-spec {
  text-align: center;
  background-image: url('../img/2020/main1.png');
  background-repeat: no-repeat;
  background-position: top;
  transition-property: background-image;
  transition-duration: 1s;
}

.div-spec > div {
  height: 700px;
}
.div-spec > div > p {
  margin: 10px 0 13px 0;
  font-size: 18px;
}
.div-spec > div > h3 {
  font-size: 24px;
  letter-spacing: 3.6px;
  line-height: 34px;
  padding-top: 138px;
}
.div-spec > div > h1 {
  font-size: 70px;
  line-height: 95px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.not-text-line {
  width: 60px;
  height: 1px;
  margin: 30 auto;
  background: #fff;
  font-size: 0;
}
.step-ul {
  max-width: 1280px;
  margin: -189px auto 0;
}
.step-li {
  width: 25%;
  height: 274px;
  /* transition : display linear; */
  transition-duration: 1s;
}
.step {
  flex: 1;
  height: 100%;
  background: transparent linear-gradient(311deg, #cf3737 0%, #f57a2d 100%) 0%
    0%;
}
.step1 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.step2 {
  background: transparent linear-gradient(311deg, #e97528, #f9c023);
}
.step3 {
  background: transparent linear-gradient(311deg, #3597c7, #83ba7b);
}
.step4 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: transparent linear-gradient(311deg, #7844b6, #395dc1);
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 15%;
}

.step-img {
  padding: 50px 0 20px;
  height: 80px;
}
.step-sub-h3 {
  background: linear-gradient(110deg, #f77220, #f8914d);
  border-top-left-radius: 15px;
  padding: 20px 0;
  font-weight: 400;
}
.step2-sub-h3 {
  background: linear-gradient(110deg, #e0b219, #fde76a);
}
.step3-sub-h3 {
  background: linear-gradient(110deg, #18dfad, #6cf8f8);
}
.step4-sub-h3 {
  background: linear-gradient(110deg, #610eaf, #a866f3);
}
.step-sub-ul {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 300px;
  padding: 20px;
}
.step-sub-li {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.step-sub-li > p {
  word-break: break-all;
}
.step-sub-img {
  z-index: 100;
}
.display-none {
  display: none;
}
.step-hover-main {
  height: 380px;
  margin: -50px 0;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.program {
  overflow: hidden;
  width: 100%;
  display: block;
  padding-top: 70px;
  text-align: center;
}

.program > h4 {
  margin: 10px 0 30px;
}

.program-category-ul {
  padding: 0 20% 40px;
}
.category-li {
  flex: 1;
  /* height: 40px; */
  margin: 5px;
}
.category {
  display: block;
  height: 100%;
  line-height: 40px;
  text-align: center;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  background-color: #e5e5e5;
  color: #002e6d;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-active {
  background-color: #002e6d;
  color: #fff;
}

.program-card-ul {
  flex-wrap: wrap;
  align-items: start;
  margin-bottom: 20px;
}
.program-card-ul > li {
  width: 305px;
  margin: 0 15px 30px 0;
}
.program-card-ul > li:first-child {
  margin-left: 0;
}
.program-card {
  text-align: left;
}
.program-img-container {
  position: relative;
}
.program-main-img {
  width: 305px;
  height: 229px;
  border-radius: 15px;
  background-image: url('../img/2020/p1.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.program-hover-div {
  position: absolute;
  top: 0%;
  width: 305px;
  height: 229px;
  border-radius: 15px;
  background-color: #000;
  opacity: 0.6;
}
.program-hover-div::before,
.program-hover-div::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 50px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.program-hover-div::after {
  top: 39%;
  transform: rotate(-90deg);
}

.program-d-day {
  position: absolute;
  width: 65px;
  height: 65px;
  background: linear-gradient(120deg, #239b0b 0%, #c1f37f 100%);
  border-radius: 15px;
  top: 0%;
  text-align: center;
  line-height: 65px;
  color: #fff;
}
.program-location {
  color: #00b09b;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
}
.program-location::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../img/2020/map.svg');
  background-repeat: no-repeat;
  background-position: center 4px;
}
.program-location + h3 {
  overflow-wrap: break-word;
}
.program-tag {
  flex-wrap: wrap;
  margin: 10px 0 20px;
}
.program-tag > li {
  margin: 10px 5px 0 0;
}
.program-tag > li > span {
  border-radius: 5px;
  background-color: #00b09b;
  color: #fff;
  padding: 5px 7px;
  font-size: 14px;
}
.program-tag + p > span:first-child::after {
  content: '|';
  color: #000;
  opacity: 0.7;
  margin: 0 5px;
}
.program-more {
  border: 1px solid #002e6d;
  color: #002e6d;
  display: inline-block;
  width: 255px;
  height: 56px;
  line-height: 56px;
  border-radius: 50px;
  padding: 5px 15px;
  margin-bottom: 80px;
}

.job-container {
  background-color: #ebeef3;
  padding: 70px 20px 40px 0;
}
.job-sub-container {
  position: relative;
  align-items: flex-start;
}
.job-form {
  position: absolute;
  top: 10px;
  right: 50px;
}
.job-form > li {
  width: 131px;
  height: 42px;
}
.job-form > li > a {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #f9c023;
  color: #fff;
  padding: 10px 20px;
}

.job-info {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.job-info > span {
  word-break: break-all;
  margin-bottom: 30px;
}
.job-category-ul > li.category-li {
  height: 42px;
  margin-bottom: 10px;
  flex: 1;
}
.job-category-ul > li.category-li > a.category {
  background-color: #fff;
  padding: 0 30px;
}
.job-category-ul > li.category-li > a.category-active {
  background-color: #002e6d;
  color: #fff;
}

.job-posting {
  margin-top: 70px;
}
.job-posting > ul {
  flex-wrap: wrap;
}
.job-posting > ul > li {
  margin: 0 20px 20px 0;

  width: 305px;
  height: 264px;
}
.job-posting > ul > li > a {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
}

.job-posting > ul > li > a > span:first-child {
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.4px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  line-height: 1.2em;
  height: 3.6em;
}
.job-posting > ul > li > a > span:last-child {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.notice-container {
  padding: 70px 0;
}

.notice-div-container {
  padding-right: 40px;
}

.notice-ul {
  margin-top: 50px;
}
.notice-ul > li {
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.notice-ul > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.notice-icon {
  display: inline-block;
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #002e6d;
  color: #002e6d;
  border-radius: 30px;
  margin-right: 10px;
}
.notice-content {
  display: inline-block;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 15px;
}
@media (hover: hover) {
  .header-nav > ul > li > a:hover {
    color: #e97528;
  }
  .step-li:hover > .step-main {
    display: none;
  }
  .step-li:hover > .step-hover-main {
    display: block;
  }
  .program-img-container:hover > .program-hover-div {
    display: block;
  }
  .program-more:hover {
    background-color: #002e6d;
    color: #fff;
  }

  .job-category-ul > li.category-li > a.category:hover {
    background-color: #002e6d;
    color: #fff;
  }

  .job-posting > ul > li > a:hover {
    border: 1px solid #002e6d;
  }

  .job-form > li > a:hover {
    color: #f9c023;
    background-color: #fff;
  }

  .notice-nav-div:hover {
    background-color: #e5e5e5;
    border-color: #002e6d;
  }
  .notice-nav-div:hover > .notice-nav-back-a {
    background-image: url('../img/2020/ba.svg');
  }

  .notice-content:hover {
    color: #004cb4;
  }
}

.notice-nav-ul {
  flex-wrap: wrap;
}
.notice-nav-ul > li {
  width: 300px;
  height: 200px;
  margin: 0 10px 10px 0;
  margin-bottom: 10px;
}
.notice-nav-div {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
}

.notice-nav-div > .notice-nav-back-a {
  position: absolute;
  bottom: 30px;
  width: 30px;
  height: 30px;
  background-image: url('../img/2020/bb.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.notice-nav-img {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 100px;
  height: 80px;
  background-image: url('../img/2020/b1.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.footer-info {
  padding: 30px 0 50px;
  text-align: center;
  background-color: #0a1c36;
  font-size: 13px;
}
.footer-info > a {
  display: inline-block;
  margin: 0 5px;
  padding: 7px 16px;
  color: #cecece;
  background: #25354c;
  border-radius: 5px;
  margin-bottom: 20px;
}
.footer-info-p > span:first-child {
  padding-right: 10px;
}
.footer-info-p > span:last-child {
  padding-left: 4px;
}
.footer-info-address {
  position: relative;
}
.footer-info-address::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  right: 0;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  section {
    padding: 15px;
  }

  .header-nav {
    padding: 15px;
  }
  .header-nav > h1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav > h1 > a.mobile {
    display: inline-block;
    content: '';
    width: 45px;
    height: 45px;
    background-image: url('../img/2020/mlogin.jpg');
    background-size: 100%;
    background-position: 8px center;
    background-repeat: no-repeat;
  }
  .div-spec > div.ft24 {
    padding: 0 15px;
    font-size: 18px;
    line-height: 1.5;
  }
  .div-spec > div > h3 {
    font-size: 21px;
    padding-top: 30px;
  }
  .div-spec > div > h1 {
    font-size: 42px;
    line-height: 1;
  }

  .div-spec > div > b:first-of-type {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .div-spec > div > p {
    font-size: 15px;
    word-break: keep-all;
    line-height: 1.5;
  }
  .step-ul {
    display: block;
    margin: -320px auto 0;
  }
  .step-li {
    width: 100%;
    margin-bottom: 15px;
    height: auto;
  }
  .step {
    border-radius: 15px;
  }

  .step-hover-main {
    margin: 0;
  }

  .program-category-ul {
    flex-wrap: wrap;
    padding: 0 0 40px;
  }
  .program-card-ul {
    justify-content: center;
  }
  .program-card-ul > li {
    width: 100%;
    margin: 0 0 30px;
  }
  .program-main-img {
    width: 100%;
    background-size: cover;
  }
  .program-hover-div {
    width: 100%;
  }
  .program-more {
    width: auto;
  }

  .category-li {
    flex: none;
    width: calc(50% - 10px);
  }

  .job-container {
    padding: 80px 15px;
  }
  .job-sub-container {
    display: block;
  }
  .job-form {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
  }
  .job-info {
    margin: 0;
  }
  .job-category-ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .job-category-ul > li.category-li {
    width: 30%;
    height: auto;
    margin-bottom: 5px;
  }

  .job-category-ul > li.category-li > a.category {
    padding: 0;
  }
  .job-posting {
    margin-top: 20px;
  }
  .job-posting > ul > li {
    margin: 0 0 20px;
    width: 100%;
  }

  .notice-container {
    display: block;
    padding: 40px 15px;
  }
  .notice-div-container {
    padding: 0;
  }
  .notice-nav-container {
    margin-top: 20px;
  }
  .notice-nav-ul > li {
    width: 100%;
    margin: 0 0 10px;
  }
  .notice-ul > li {
    display: block;
    position: relative;
    padding-bottom: 30px;
  }

  .notice-content {
    width: 100%;
    margin: 0;
    padding: 5px 0 0 15px;
    box-sizing: border-box;
  }
  .notice-content + span {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .footer-info {
    padding: 30px 15px 50px;
  }
  .footer-info-p {
    margin-bottom: 20px;
  }
  .footer-info-address {
    display: block;
  }
  .footer-info-address::after {
    content: none;
  }
  .footer-info-p + span {
    display: block;
  }
}
